body{
  padding: 0;
  margin: 0;
  
}

.main{
  display: flex;
}

.main>.show>h1{
  margin: 80px auto 0px auto;
  font-size: 60px;
  /* margin: 10px; */
}

.main>.show>.order_me{
  background-color: rgb(245, 238, 238);
  width: 450px;
  border: 2px solid gray;
   flex-direction: column;
   margin-top: 50px;
  margin-left: 60px;
  display: flex;
  height: 310px;
  border-radius: 10px;
  /* margin-top: -130px; */
}

.main>.show>.order_me>.order_id{
  display: flex;
  /* margin: auto; */
}

.main>.show>.order_me>.order_id>h3{
  width: 30%;
  margin-left: 40px;
  margin-top: 30px;
  font-size: 25px;
}

.main>.show>.order_me>.order_id>.order_para{
  width:70%;
  margin-top: 40px;
  font-size: 20px;
}

.main>.show>.order_me>.currency{
  display: flex;
  /* margin: auto; */
}

.main>.show>.order_me>.currency>h3{
  width: 30%;
  margin-left: 40px;
  margin-top: 25px;
  font-size: 25px;
}

.main>.show>.order_me>.currency>.curry{
   width:70%;
   margin-top: 25px;
   font-size: 20px;
}

.main>.show>.order_me>.amount{
  display: flex;
  /* margin: auto; */
}

.main>.show>.order_me>.amount>h3{
  width: 30%;
  margin-left: 40px;
  margin-top: 25px;
  font-size: 25px;
}

.main>.show>.order_me>.amount>.money{
   width:70%;
   margin-top: 25px;
   font-size: 20px;
}

.main>.show>.order_me>.btn{
  display: flex;
  margin: auto;
  padding: 11px 20px;
  font-size: 15px;
  border-radius: 7px;
  /* font-weight: bold; */
  border: 2px solid white;
  background-color: rgb(4, 115, 4);
  color: white;
}

.main>.show>.order_me>.btn:hover{
  cursor: pointer;
  background-color: rgb(2, 67, 2);
}



