*{
    margin: 0;
    padding: 0;
}


.content{
    display: flex;
    margin: auto;
    border: 2px solid rgb(186, 185, 185);
    /* justify-content: center; */
    width: 50%;
    padding: 15px;
}

#main_course{
    background-color: rgb(186, 185, 185);
    color: white;
}

.food1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.one{
    /* border:2px solid black; */
    width: 50%;
}

.one1{
    /* border:2px solid black; */
    width: 15%;
}

.one2{
    /* border:2px solid black; */
    width: 20%;
}

.one3{
    text-align: center;
    width: 11%;
}

.btn{
    background-color: green;
    padding: 5px 13px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.row1{
    display: flex;
}

img{
    height: 15px;
    padding-left: 8px;
    padding-right: 8px;
}

.view-cart-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: green;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  /* adjust the margin and padding for the main content */
  .home{
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      margin-right: 20px;
      margin-left: 20px;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
  }
